.data-table {
  width: 60%;
  margin: 0 auto 40px;
}
.table-header {
  display: flex;
  justify-content: space-between;
}
.table-header button {
  height: 40px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.action {
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .select {
  width: 60px;
  margin: 0 20px;
}
.pagination .paginationStatus {
  margin: 0 20px;
}
.left, .right {
  cursor: pointer;
  margin: 0 10px;
}