<div class="data-table">
  <div class="table-header">
    <h2>Table Header</h2>
    <button *ngIf="showAdd" (click)="onAdd()" mat-raised-button color="primary">Add New Data</button>
  </div>
  <table>
    <thead>
      <tr>
        <th class="col-head" *ngFor="let col of cols">{{ col.header }}</th>
        <th *ngIf="showAction">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowData of filteredData">
        <td *ngFor="let col of cols">{{ rowData[col.field] }}</td>
        <td *ngIf="showAction" class="action">
          <button mat-raised-button color="primary" (click)="onEdit(rowData)">Edit</button>
          |
          <button mat-raised-button color="warn" (click)="onDelete(rowData)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination" *ngIf="pagination">
    <span>items per page: </span>
    <mat-form-field class="select">
      <mat-select (selectionChange)="selectionChange($event.value)" [value]="pageSize">
        <mat-option *ngFor="let pageOption of pageOptions" [value]="pageOption">{{ pageOption }}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="paginationStatus">{{ start }} - {{end}} of {{ data?.length }}</span>
    <div>
      <span class="left" (click)="previous()"><mat-icon>keyboard_arrow_left</mat-icon></span>
      <span class="right" (click)="next()"><mat-icon>keyboard_arrow_right</mat-icon></span>
    </div>
  </div>
</div>