<h1 class="heading">Angular Table</h1>
<mat-checkbox class="checkbox" [checked]="add" (change)="changeStatus($event, 'add')">Add Button</mat-checkbox>
<mat-checkbox class="checkbox" [checked]="action" (change)="changeStatus($event, 'action')">Action Button</mat-checkbox>
<mat-checkbox class="checkbox" [checked]="pagination" (change)="changeStatus($event, 'pagination')">Pagination</mat-checkbox>
<app-data-table [data]="data" [cols]="cols" [showAction]="action" [showAdd]="add" [pagination]="pagination" (add)="addFun()" (edit)="editFun()" (delete)="deleteFun()"></app-data-table>
<app-form *ngIf="showForm" [dialogTitle]="dialogTitle" [cols]="cols"></app-form>